---
import BaseHead from "@/components/layout/base-head.astro";
import TailwindIndicator from "@/components/tailwind-indicator.astro";
// NOTE: work with { Toaster } from "@/components/ui/sonner" but need to update dark theme
import { Toaster } from "sonner";
import { cn } from "@/lib/utils";

type Props = {
  title: string;
  description?: string;
  bodyClass?: string;
};

const { title, description, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class={cn("flex flex-col min-h-screen", bodyClass)}>
    <slot />
    <TailwindIndicator />
    <Toaster richColors client:only="react" />

    <!-- Buy Me a Coffee Widget -->
    <script is:inline data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="yokesh.ks" data-description="Support me on Buy me a coffee!" data-message="" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  </body>
</html>
